<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Gestión de Gastos</title>
    <link href="../styles/styles.css" rel="stylesheet" />
</head>
<body class="body">
    <div class="login-container">
        <h2 class="title">Log In</h2>
        <input type="email" placeholder="Ingresar correo" required>
        <input type="password" placeholder="Ingresar contraseña" required>
        <a href="recuperarcontra.html" class="forgot-password">¿Olvidaste tu contraseña?</a>
        <button class="btn btn-primary">Ingresar</button>
        O
        <a href="registro.html"><button class="btn btn-secondary">Registrarse</button></a>
    </div>
</body>
</html>