<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - Gestion de Gastos</title>
    <link href="../styles/styles.css" rel="stylesheet" />
</head>
<body class="body">
    <div class="login-container">
        <h2 class="title">Registro</h2>
        <input type="user" placeholder="Nombre de usuario" required>
        <input type="email" placeholder="Correo de usuario" required>
        <input type="password" placeholder="Contraseña" required>
        <button class="btn btn-primary">Registrar</button>
    </div>
</body>
</html>