/* Fondo oscuro */
#fondo-oscuro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Oscuridad con transparencia */
    z-index: 999; /* Debajo de la ventana flotante */
}

/* Estilos para la ventana flotante */

#ventana_flotante {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    z-index: 1000;
    padding: 20px;
}

#ventana_flotante h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 18px;
    color: #333;
}

#ventana_flotante form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex; /* Organiza el label y el input en una fila */
    align-items: center; /* Alinea verticalmente label e input */
    margin-bottom: 15px; /* Espacio entre los campos */
}

.form-group label {
    width: 30%; /* Fija el ancho del label */
    font-size: 14px;
    text-align: left; /* Alinea el texto a la derecha */
    margin-left: 10px; /* Espacio entre el label y el input */
    font-weight: 200;
}

.form-group input {
    flex-grow: 1; /* Hace que los inputs se adapten al espacio disponible */
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #555;
}

.botones-modal{
    display: flex;
    gap: 15px; /* Espacio entre los botones */
    justify-content: center; /* Centrar los botones */
    margin-top: 20px;
}

.botones-modal button{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancelar {
    background-color: #6c757d; /* Gris oscuro */
    color: white; /* Texto blanco */
    transition: background-color 0.3s ease; /* Animación suave al pasar el mouse */
}

.aceptar {
    background-color: #007bff; /* Azul */
    color: white; /* Texto blanco */
    transition: background-color 0.3s ease; /* Animación suave al pasar el mouse */
}

/* Modal */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    z-index: 1000; /* Aparece sobre el fondo oscuro */
    padding: 20px;
    display: none; /* Oculto por defecto */
}

/* Mostrar modal */
.mostrar {
    display: block;
}

